<html>
<head>
	<meta charset="utf-8">
	<title>HAGROCARE |About page</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- socia-media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/angular.min.js"></script>
</head>
<body ng-app = "myApp" style="background-color: #eff2f5;">
	<div class="about">	
		<div class = "about-top">
			<nav id="navbar" class = "navbars">
				<ul class = "navlist">
					<img src="images/hagro.png" width="240" height="70">
					<li><a href="home">HOME</a></li>
					<li><a href="about" style="color:#ffaa41">ABOUT</a></li>
					<li><a href="services">SERVICES</a></li>
					<li><a href="contact">CONTACT</a></li>
					<li><a href="login">LOGIN</a></li>
				</ul>
			</nav>
			<div style="position: absolute;top: 200px;left: 120px;line-height: 5px;">
				<h1>LEARN GROW CONNECT</h1>
				<h3>About us</h3>
				<p>we help in promoting Traditional Farming</p>	
			</div>
		</div>
		<div class="about-content">
			<div style="width:600px;top: 50px;position: relative">
				<h4>
					NAMMALVAR TRADITIONAL FARMING
				</h4>
				<p style="color: #666666;font-size: 19px;line-height: 30px;font-size:20px">
					G. Nammalvar was an Indian organic farming scientist. Hailing from the agro-based Thanjavur district of Tamil Nadu, he was involved in preaching the farmers to get an edge in organic farming. Nammalvar travelled widely across the world, observed the agricultural practices in various ecological systems and based on his findings, trained several farmers and NGO workers.
					Vanagam is a non-profit organization, collectively formed by people from different strata of society, which empowers people to enrich their lives and the environment by making certain lifestyle choices
					based on ecological principles.
				</p>	
			</div>
			<img class = "women-image" style="width: 410px; height: 550px;top: 50px" src="images/nammalvar.png">
		</div>
		<div style="display: flex; justify-content: space-around; position: relative;top: 60px; right: 200px">
			<img style="width: 440px; height: 500px;position:relative;top: 20px; left: 250px;z-index: 2" src="images/paamayan.jpg">
			<div class="about-content">
			<div style="width:700px;top: 50px;position: relative;padding: 0px 20px 10px 20px">
				<h4>
					PAAMAYAN TRADITIONAL FARMING
				</h4>
				<p style="color: #666666;font-size: 19px;line-height: 30px;font-size:20px">
					Mu.Balasubramanian, fondly called as Pamayan, comes across as the knight in shining armour for Tamil Nadu. For, he has not only created a model organic farm but also evolved a self-sustainable farming practice that has been drawing the attention of people from all over the State.
					His model farm is spread across 4.5 acres in Solaipatti 15 km southwest of Tirumangalam and he calls his farming technique ‘ Thalanmai Pannaiyam’ (self-reliant farming). He has evolved a training module that takes into account salient features of ancient farming practices such as farmers’ predicaments, how to enrich soil, how to grow a plant, best farming practices, marketing, visit to a farm and successful stories. It is now his endeavour to convert his farm into a revenue-generating source.
				</p>	
			</div>
		</div>
	</div>
	</div>
	<div style="margin-top:300px;" ng-include = "'footer'"></div>
	<script src="js/index.js"></script>
	<script src="js/about.js"></script>
</body>
</html>