<html>
<head>
	<meta charset="utf-8">
	<title>HAGROCARE |About page</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- socia-media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/angular.min.js"></script>
</head>
<body ng-app = "myApp" style="background-color: #eff2f5;font-family:Nirmala UI;">
	<div class="about">	
		<div class = "about-top">
			<nav id="navbar" class = "navbars">
				<ul class = "navlist">
					<img src="images/hagro.png" width="240" height="70">
					<li><a href="home">வீடு</a></li>
					<li><a href="about">About</a></li>
					<li><a href="aboutustamil" style="color:#ffaa41">பற்றி</a></li>
					<li><a href="services">சேவைகள்</a></li>
					<li><a href="contact">தொடர்பு</a></li>
					<li><a href="login">உள்நுழை</a></li>
				</ul>
			</nav>
			<div style="position: absolute;top: 200px;left: 120px;line-height: 5px;">
				<h1>இணைப்பு வளர கற்றுக்கொள்ளுங்கள்</h1>
				<h3>
					எங்களை பற்றி</h3>
				<p>
					பாரம்பரிய விவசாயத்தை மேம்படுத்த உதவுகிறோம்</p>	
			</div>
		</div>
		<div class="about-content">
			<div style="width:600px;top: 50px;position: relative">
				<h4 style="font-family: Nirmala UI;">
					நம்மாழ்வார் பாரம்பரிய விவசாயம்
				</h4>
				<p style="color: #666666;font-size: 19px;line-height: 30px;font-size:20px;font-family:Nirmala UI;">
					ஜி. நம்மாழ்வார் ஒரு இந்திய இயற்கை வேளாண் விஞ்ஞானி ஆவார். தமிழ்நாட்டின் வேளாண் சார்ந்த தஞ்சாவூர் மாவட்டத்தைச் சேர்ந்த இவர், இயற்கை விவசாயத்தில் முன்னோடியாக இருப்பதற்கு விவசாயிகளுக்கு போதனை செய்வதில் ஈடுபட்டார். நம்மாழ்வார் உலகம் முழுவதும் பரவலாகப் பயணம் செய்தார், பல்வேறு சுற்றுச்சூழல் அமைப்புகளில் விவசாய நடைமுறைகளைக் கவனித்தார் மற்றும் அவரது கண்டுபிடிப்புகளின் அடிப்படையில், பல விவசாயிகள் மற்றும் தன்னார்வ தொண்டு நிறுவனங்களுக்கு பயிற்சி அளித்தார். வனகம் என்பது ஒரு இலாப நோக்கற்ற அமைப்பாகும், இது சமூகத்தின் பல்வேறு அடுக்குகளைச் சேர்ந்த மக்களால் கூட்டாக உருவாக்கப்பட்டது, இது சுற்றுச்சூழல் கொள்கைகளின் அடிப்படையில் சில வாழ்க்கை முறை தேர்வுகளை செய்வதன் மூலம் மக்கள் தங்கள் வாழ்க்கையையும் சுற்றுச்சூழலையும் வளப்படுத்த உதவுகிறது.
				</p>	
			</div>
			<img class = "women-image" style="width: 410px; height: 550px;top: 50px" src="images/nammalvar.png">
		</div>
		<div style="display: flex; justify-content: space-around; position: relative;top: 60px; right: 200px">
			<img style="width: 440px; height: 500px;position:relative;top: 20px; left: 250px;z-index: 2" src="images/paamayan.jpg">
			<div class="about-content">
			<div style="width:700px;top: 50px;position: relative;padding: 0px 20px 10px 20px">
				<h4>
					பாமயன் பாரம்பரிய விவசாயம்
				</h4>
				<p style="color: #666666;font-size: 19px;line-height: 30px;font-size:20px">
					பாமயன் என்று அன்புடன் அழைக்கப்படும் மு.பாலசுப்ரமணியன், தமிழகத்தின் ஒளிரும் கவச மாவீரனாக வருகிறார். ஏனெனில், அவர் ஒரு மாதிரி இயற்கை பண்ணையை உருவாக்கியது மட்டுமின்றி, மாநிலம் முழுவதிலும் உள்ள மக்களின் கவனத்தை ஈர்த்து வரும் தன்னிறைவான விவசாய முறையை உருவாக்கியுள்ளார். திருமங்கலத்தில் இருந்து தென்மேற்கே 15 கிமீ தொலைவில் உள்ள சோலைப்பட்டியில் 4.5 ஏக்கர் பரப்பளவில் அவரது மாதிரி பண்ணை அமைந்துள்ளது, மேலும் அவர் தனது விவசாய நுட்பத்தை ‘தாளன்மை பண்ணையம்’ (தன்னம்பிக்கை விவசாயம்) என்று அழைக்கிறார். விவசாயிகளின் இக்கட்டான சூழ்நிலைகள், மண்ணை வளப்படுத்துவது எப்படி, செடியை வளர்ப்பது எப்படி, சிறந்த விவசாய முறைகள், சந்தைப்படுத்தல், பண்ணைக்கு வருகை மற்றும் வெற்றிகரமான கதைகள் போன்ற பண்டைய விவசாய நடைமுறைகளின் முக்கிய அம்சங்களை கணக்கில் எடுத்துக்கொண்டு ஒரு பயிற்சி தொகுதியை அவர் உருவாக்கியுள்ளார். இப்போது தனது பண்ணையை வருமானம் ஈட்டும் ஆதாரமாக மாற்றுவது அவரது முயற்சி.
				</p>	
			</div>
		</div>
	</div>
	</div>
	<div style="margin-top:300px;" ng-include = "'footer'"></div>
	<script src="js/index.js"></script>
	<script src="js/about.js"></script>
</body>
</html>