<footer>
		<div class="footer-container1">
			<div class = "left-corner">
				<h1>BEST SERVICE PROVIDER</h1>
				<p>Promoting Traditional Farming</p>
			</div>
			<div class="right-corner">
				<a href="contact" class="button" >Contact Us</a>
				<a href="about" class="button" >About us</a>
			</div>
		</div>
		<hr class = "divider">
		<div class="footer-container2">
			<div class = "left-corner">
			<img class = "footer-image" src="images/hagro.png">
			<p>
				<!-- <br>We are an efficient, competitive, innovative and agricultural sector Helping farmers for maximize their profits and guide them with them proper farming activities -->
				<br>We help in providing details about traditional farming and helping to promote the practices of traditional farming.
			</p>
			</div>
			<div class = "middle-one">
			<h1 style="color:#ffaa41;">Quick Links</h1>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Gallery</a></li>
			</ul>	
			</div>
			<div class = "middle-two">
				<h1 style="color:#ffaa41;">About</h1>
				<ul>
					<li><a href="#">Service</a></li>
					<li><a href="#">Contacts</a></li>
					<li><a href="#">Careers</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>	
			</div>
			<div class = "right-corner">
				<h1 style="color:#ffaa41;">Company</h1>
				<ul>
					<li><a href="about.php">About us</a></li>
					<li><a href="#">Our Team</a></li>
					<li><a href="#">Testimonials</a></li>
				</ul>	
			</div>	
		</div>
		<div class="social">
		    <ul>
		        <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
		        <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
		        <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
		      
		        <li><a href="#"><i class="fa fa-lg fa-instagram"></i></a></li>
		        <li><a href="#"><i class="fa fa-lg fa-youtube-play"></i></a></li>
		    </ul>
		</div>
		<hr class = "divider">
	</footer>